body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .flag {
    display: flex;
  }
  img {
    margin: 5px;
    cursor: pointer;
  }